POSTGRES_DB=qurankit
POSTGRES_USER=qurankit
POSTGRES_PASSWORD=change-me
POSTGRES_PORT=5432
API_PORT=8000
WEB_PORT=3000
QDRANT_PORT=6333
COMPOSE_PROFILES=
QURANKIT_SOURCE_ATTRIBUTION_REQUIRED=true
QURANKIT_PRIVACY_MODE=private-by-default
QURANKIT_UPSTREAM_DATA_SOURCE=AbdullahGhanem/quran-database
